<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="login" method='POST' name='f'>
    <table>
        <tr>
            <td>User:</td>
            <td><input name='username' type='text' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name='password' type='password'/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>